<ion-content>
  <div class="profile-page sidebar-collapse">
    <app-navbar></app-navbar>
    
     <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/city-profile.jpg'); margin-bottom: 50px;"></div>
      <div class="main main-raised">
        <div class="profile-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="profile">
                  <div class="name mt-2">
                    <h3 class="title">Todas las Imagenes</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="description text-center">
              <p>Aqui encontaras todas las imagenes que necesitas para tus proyectos gratuitamente</p>
            </div>
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="profile-tabs">
                  <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                        <i class="material-icons">camera</i> Todas
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                        <i class="material-icons">palette</i> Subidas por ti
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                        <i class="material-icons">favorite</i> Favoritas
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content tab-space">
              <app-image [images]="images"></app-image>
            </div><!--End tap space-->
          </div>
        </div>
    
      </div> <!---End main-->
      </div>
</ion-content>

